*.db
*.zip
__pycache__/
backup/
backup_*/
JAVA_BACKUPS/
NS-Mastar-Files/
android_BACKUP_*/
app_backup_*.py
app_before_*.py
app_after_*.py
index_backup*.html
index_before_*.html
MainActivity_before_*.java
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/app/aapt2/
